<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bedroom</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<style>
*{
    font-family: 'Special Elite', cursive;
}

body{
    background-color: whitesmoke;
}

#topSpacer{
    height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    text-align: center;
}

a{
    text-decoration: underline;
    color: black;
}

</style>

<body>
    <div id="topSpacer">
        <a href="/logout">Log Out</a>
    </div>
    <main>
        {% if trowel %}
        <h3>Using the trowel, you lift away clods of dirt until you find what appears to be a hat box. It's old and the decorative ribbons are frayed. When you open it you find three things.
            There's a small, <a href="/add-item/13">folded note</a> in an envelope, a <a href="/add-item/3">ring of keys</a>, and an animal's skull.</h3>

        {% else %}
        <h3>Despite clawing at the dirt with your fingers, it doesn't give.</h3>
        {% endif %}

        <a href="/backyard">Go Back</a>
    </main>
    
</body>
</html>