<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upstairs Bathroom</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<style>
*{
    font-family: 'Special Elite', cursive;
}

body{
    background-color: whitesmoke;
}

#topSpacer{
    height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    text-align: center;
}

a{
    text-decoration: underline;
    color: black;
}

</style>

<body>
    <div id="topSpacer">
        <a href="/logout">Log Out</a>
    </div>
    <main>
        <h3>You turn on the faucet, leaving it running until the bottom of the tub is completely submerged in the dirty brown water. What flows from the tap doesn't seem to be getting any cleaner, so you shut it off again.
            As the water drains away, some of the grime seems to have congealed onto the tub. It's a series of letters. It says XLIII.</h3>
        <a href="/us-bath">Go Back</a>
    </main>
    
</body>
</html>