<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backyard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<style>
*{
    font-family: 'Special Elite', cursive;
}

body{
    background-color: whitesmoke;
}

#topSpacer{
    height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    text-align: center;
}

a{
    text-decoration: underline;
    color: black;
}

</style>

<body>
    <div id="topSpacer">
        <a href="/inventory">Inventory</a><br>
        <a href="/logout">Log Out</a>
    </div>
    <main>
        <h3>The clearing in which the house sits continues behind it for another 50 meters or so. The dry grass is trampled down near the door, marking a clear path as to where prior visitors had walked.</h3>
        <h3>Similar to when you first arrived, the lack of forest noise makes you uneasy. None of the trees dare move or whisper. The bizarre feeling reminds you of being on a stage set.</h3>
        <h3>At the far side of the path sits a rounded stone marker, partially beneath the shade of a tree. You can't quite make out the markings from this distance, but you can tell they're there.</h3>
        <h3>The dirt around the <a href="/by-stone">stone</a> is a different shade of brown, as if having been turned recently. </h3>
        <h3>Nothing else out here catches your eye. Behind you is the door that leads back to the <a href="/dining">dining room</a>.</h3>
    </main>
    
</body>
</html>