<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dining Room</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<style>
*{
    font-family: 'Special Elite', cursive;
}

body{
    background-color: whitesmoke;
}

#topSpacer{
    height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    text-align: center;
}

a{
    text-decoration: underline;
    color: black;
}

</style>

<body>
    <div id="topSpacer">
        <a href="/inventory">Inventory</a><br>
        <a href="/logout">Log Out</a>
    </div>
    <main>
        <h3>A large table dominates the room, stained dark like all the other wooden furnishings throughout the house. A faded red cloth runner spans the middle of the table.
            Six chairs sit around it, only one pulled out at an odd angle. Someone sat here alone, but you don't know when. A cardboard box sits open next to the chair. </h3>
        <h3>You can't say for sure, but it was probably your mom unpacking.</h3>
        <h3>In the middle of the table sits a grouping of <a href="/dr-candles">candles</a>, somewhat used with fat globs of wax dripping down their sides.</h3>
        <h3>Beyond the table, there's a glass inlaid door through which you can see rich green leaves. It seems to lead <a href="/backyard">outside</a>.</h3>
        <h3>You can also return to the <a href="/entry">entry</a>.</h3>
    </main>
    
</body>
</html>