<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<style>
*{
    font-family: 'Special Elite', cursive;
}

body{
    background-color: whitesmoke;
}

#topSpacer{
    height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    text-align: center;
}

a{
    text-decoration: underline;
    color: black;
}
</style>

<body>
    <div id="topSpacer">
        <a href="/inventory">Inventory</a><br>
        <a href="/logout">Log Out</a>
    </div>
    <main>
        <h3>Rich, dark wood seems to comprise the entire room. On the floor, there are a number of places where the stain has worn thin.
            At some point, this house must've been beautiful. But now, like the exterior, everything seems to have been left alone for too long.
            The banisters leading upstairs are ornately carved. Atop the main posts sit two lions, observing what has been and will be.
            A stack of moving boxes sit near the door. Sharpie scrawled on the sides serve as evidence that someone has been here recently.</h3>
            <h3>The <a href="us-hallway">stairs</a> lead upwards in front of you.</h3>
            <h3>To the left, a gloomy <a href="/ds-hallway">hallway</a> leads off into darkness.</h3>
            <h3>On the right, there's another <a href="/dining">door</a>.</h3> 
            </h3>
    </main>
    
</body>
</html>