<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenhouse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<style>
*{
    font-family: 'Special Elite', cursive;
}

body{
    background-color: whitesmoke;
}

#topSpacer{
    height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    text-align: center;
}

a{
    text-decoration: underline;
    color: black;
}

</style>

<body>
    <div id="topSpacer">
        <a href="/inventory">Inventory</a><br>
        <a href="/logout">Log Out</a>
    </div>
    <main>
        <h3>Tinted glass panes surround you, held aloft by a spiderweb of metal framing. Unexpected rain plinks against the windows. 
            You don't remember seeing any dark clouds when you were outside. An inlaid stone path marks the perimeter of the room.</h3>
        <h3>In the middle, there's a large mound of dirt, evenly disected by multiple wood stakes, some of which have fraying twine running between.</h3>
        <h3>A few <a href="/gh-plants">plants</a> are suppored by the string, growing on seemingly unfazed by their lack of attention.</h3>
        <h3>There's a small wooden <a href="/gh-table">table</a> at the far side of the room, leaning at a dangerous angle.</h3>
        <h3>You can look around, or you can go back into the <a href="/kitchen">kitchen</a>.</h3>
    </main>
    
</body>
</html>