<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<style>
*{
    font-family: 'Special Elite', cursive;
}

body{
    background-color: whitesmoke;
}

#topSpacer{
    height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    text-align: center;
}

a{
    text-decoration: underline;
    color: black;
}

</style>

<body>
    <div id="topSpacer">
        <a href="/inventory">Inventory</a><br>
        <a href="/logout">Log Out</a>
    </div>
    <main>
        <h3>A vast mahogany desk sits dead center in the room. A table lamp rests on top, sitting next to a dull black typewriter and another cardboard box.</h3>
        <h3>On the far wall is a window, shrowded by dust caked curtains that could either be a deep maroon or dark brown. Through the glass you can see the front yard. There's your car, sitting empty and alone.</h3>
        <h3>On another wall rests hundreds of <a href="/st-books">books</a>, some leather bound and others wrapped in parchment. None of them you've heard of, and it's also likely none have been added to the collection in the last century.</h3>
        <h3>At least four different clocks perch in various places about the room. Every single one is stopped at the exact same time, 10:20.</h3>
        <h3>There are a few <a href="st-papers">papers</a> strewn across the floor which must've been knocked from the desk.</h3>
        <h3>From here, you can only return to the <a href="/us-hallway">upstairs hallway</a>.</h3>
    </main>
    
</body>
</html>