<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upstairs Bathroom</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<style>
*{
    font-family: 'Special Elite', cursive;
}

body{
    background-color: whitesmoke;
}

#topSpacer{
    height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    text-align: center;
}

a{
    text-decoration: underline;
    color: black;
}

</style>

<body>
    <div id="topSpacer">
        <a href="/inventory">Inventory</a><br>
        <a href="/logout">Log Out</a>
    </div>
    <main>
        <h3>The upstairs bathroom is the largest in the house, with a full length clawfoot tub that spans one wall. There's a mirror on the wall, so lusterless as to only show the faintest silhouettes.
        <h3>A metal bucket sits beneath the mirror, resting on an unstable wood frame. It leans significantly to the left, it'd be best not to touch it.</h3>
        <h3>The tub is in a better state, with its <a href="/usb-faucet">faucet</a> attached and dripping. Brown, clumpy fluid has built up around the drain, but it's still functional, as there hasn't been a great deal of accumulation.</h3>
        <h3>A toilet sits to the other side of the mirror, one of those old fashioned ones with a reservoir that sits nearly a meter above the basin. 
            Curling silvered pipes connect the two, but there seems to be nothing else keeping the reservoir aloft, and it sways ever so slightly.</h3>
        <h3>The only place to go from here is back into the <a href="/us-hallway">upstairs hallway</a>.</h3>
            
    </main>
    
</body>
</html>