<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upstairs Hallway</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Special+Elite&display=swap" rel="stylesheet">
</head>

<style>
*{
    font-family: 'Special Elite', cursive;
}

body{
    background-color: whitesmoke;
}

#topSpacer{
    height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    text-align: center;
}

a{
    text-decoration: underline;
    color: black;
}

.nameCard{
    font-family: garamond;
}

span{
    font-family: 'Indie Flower';
    font-size: 1.1em;
}
</style>

<body>
    <div id="topSpacer">
        <a href="/inventory">Inventory</a><br>
        <a href="/logout">Log Out</a>
    </div>
    <main>
        <h3>The upstairs hallway continues the hardwood flooring, the planks spanning radially away from the landing. On the wall in front of you is an old painting, framed by heavily engraved wood.</h3>
        <h3>The painting is of a cat, whose snow white fur still shines beneath the dust. It's eyes glint a proud and agressive orange, looking at the viewer with an unspoken challenge.</h3>
        <h3>You can't help but feel watched.</h3>
        <h3>Beneath it rests an etched metal plaque. It reads:</h3>
        <h1 class="nameCard">Gerard, 1882 - <span>1887</span></h1>
        <h3>The second year looks like it was scratched on later without the use of a precision tool. You can feel the despair in the gesture, whomever had made the addition must've been upset.</h3>
        <h3>There are three doors leading off the hallway, one in <a href="/bedroom">front</a>, one to the <a href="/study">left</a>, and one to the <a href="/us-bath">right</a>.</h3>
        <h3>You can also go back <a href="/entry">downstairs</a>.</h3>
    </main>
    
</body>
</html>