<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Beginning</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<style>
*{
    font-family: 'Special Elite', cursive;
}

body{
    background-color: whitesmoke;
}

#topSpacer{
    height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    text-align: center;
}

.left{
    text-align: left;
    color: maroon;
}

.right{
    text-align: right;
    color: grey;
}

a{
    text-decoration: underline;
    color: black;
}
</style>

<body>
    <div id="topSpacer">
        <a href="/logout">Log Out</a>
    </div>
    <main>
        <h3>You look at the nearest shelf and grab the first thing you see. A can of chili. You surrepticiously look at the expiry, trying not to draw the attention of the man behind the counter. November 21, 2003. You put it on the counter.</h3>
        <h3>$1.25</h3>
        <h3>You hope, rather desperately, that's enough for some information. There's nothing else here that you need, or want, or even think qualifies as usable in the slightest.</h3>
        <h3 class="right">"Where are you <a href="/intro5">trying to go</a>?"</h3>
        
    </main>
    
</body>
</html>