<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Beginning</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<style>
*{
    font-family: 'Special Elite', cursive;
}

body{
    background-color: whitesmoke;
}

#topSpacer{
    height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    text-align: center;
}

.left{
    text-align: left;
    color: maroon;
}

.right{
    text-align: right;
    color: grey;
}

a{
    text-decoration: underline;
    color: black;
}
</style>

<body>
    <div id="topSpacer">
        <a href="/logout">Log Out</a>
    </div>
    <main>
        <h3>The house was surprisingly difficult to find. Even among the locals, almost no one had even heard of the road on the listing. Google wasn't any help either. It dropped a red pin in the middle of a forest; there weren't any roads to speak of. Driving up the street for what must have been the 20th time, you took a chance on a small, dilapidated corner store.</h3>
        <h3>The shelves were mismatched, more of them than not a clapboard combination of what could only be described as construction leftovers. On those shelves were all manner of things, from canned goods to souveniers. From long since passed liscensed mac-and-cheese to animal bones.</h3>
        <h3>It made you pretty uncomfortable.</h3>
        <h3>The owner sat behind a former bar. Any upkeep to the dark, stained wood had long since been abandoned. His eyes were red and beady behind a bristled and dull grey beard. It seemed to take over his face.</h3>
        <h3 class="left">"Do you think you could help me with directions? I'm new here."</h3>
        <h3 class="right">"You gonna buy <a href="/intro4">something</a>?"</h3>
    </main>
    
</body>
</html>