<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Beginning</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<style>
*{
    font-family: 'Special Elite', cursive;
}

body{
    background-color: whitesmoke;
}

#topSpacer{
    height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    text-align: center;
}

.left{
    text-align: left;
    color: maroon;
}

.right{
    text-align: right;
    color: grey;
}

a{
    text-decoration: underline;
    color: black;
}
</style>

<body>
    <div id="topSpacer">
        <a href="/logout">Log Out</a>
    </div>
    <main>
        <h3>Even knowing where you're going, finding the road was difficult. You found the rocks, and just beyond were two overgrown ruts in the dirt.
        Had you not been looking, it would've been nearly invisible. It wound through a densly packed forest. You must've been on the road for half an hour.</h3>
        <h3>Finally though, there was a clearing. A house sits in the middle, the roof warped and paint peeling.
        Shutters hang loosely from the windows, some clinging on with a single hinge. One even sat atop the small overhang above the front door. 
        You can't even tell what color the house was supposed to be. The paint that remained has been bleached so thoroughly by the sun that it had become a colorless grey.</h3>
        
        <h3>You get out of the car.</h3>
        
        <h3>The grass crunches dryly beneath your feet. Despite the green of the surrounding trees, everything feels somehow lifeless. There's no other noise to speak of.
        No birds, no wind, no cars. The last can be explained away, but the overall impression leaves you off-balance. The house looms before you, beckoning. 
        It doesn't seem like a place your mom would've chosen, but you can't hold a discount against her. The wood-slat stairs groan, resistant of your every step.
        You knock for a minute, listening closely for any signs of life. Nothing comes of it.
        The doorknob likely once gleamed, but the golden metal now looks pocked and brown. It reminds you of dried blood. The handle is rough beneath your fingers.</h3>
        
        <h3>It's <a href="/entry">unlocked</a>.</h3>
    </main>
    
</body>
</html>