<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Beginning</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<style>
*{
    font-family: 'Special Elite', cursive;
}

body{
    background-color: whitesmoke;
}

#topSpacer{
    height: 30px;
}

main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.left{
    text-align: left;
    color: maroon;
}

.right{
    text-align: right;
    color: grey;
}

a{
    text-decoration: underline;
    color: black;
}
</style>

<body>
    <div id="topSpacer">
        <a href="/logout">Log Out</a>
    </div>
    <main>
        <h3 class="right">"How's your relationship with your family?"</h3>
        <h3 class="left">"My mom moved recently, in the woods somewhere. Maybe Maine or something like that?"</h3>
        <h3 class="right">"It seems odd that you don't know more, doesn't it?"</h3>
        <h3 class="left">"Yeah... I guess. But I haven't heard from her in over a month now. I feel like that's an answer in itself."</h3>
        <h3 class="right">"Perhaps not. After all, difficulties come up for everyone. She might even need some help."</h3>
        <h3 class="left">"..."</h3>
        <h3 class="left">"I thought she was ignoring me."</h3>
        <h3 class="right">"Maybe this is the opportunity you need. Why don't you go and visit? She's your mom, after all. Although this may be difficult to hear, there isn't much you'll be leaving behind, especially if it's just a short trip."</h3>
        <h3 class="left">"I'm pretty sure she emailed me the listing for the house."</h3>
        <h3 class="left">"I'll see if I can <a href="/intro3">find it</a>."</h3>
    </main>
    
</body>
</html>