<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Beginning</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<style>
*{
    font-family: 'Special Elite', cursive;
}

#topSpacer{
    height: 100px;
    text-align: left;
}

body{
    background-color: whitesmoke;
}

main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    text-align: center;
}

a{
    text-decoration: underline;
    color: black;
}
</style>

<body>
    <div id="topSpacer">
        <a href="/logout">Log Out</a>
    </div>
    <main>
        <h3>Life in the city is not fulfilling.</h3>
        <h3>
            People keep passing you by, only going so far as to consider you an obstacle to avoid.
            Therapy has been helping... a little. At least there you feel like a person. But there's no one else to talk to. 
            The mere idea of going out with friends begets so many challenges you can't help but laugh.
        </h3>
        <h3>It still hurts.</h3>
        <h3>You don't even know who to ask, let alone where to go with them. Besides, what do you talk about?</h3>
        <h3>You're basically a <a href="/intro2">ghost</a>.</h3>
    </main>
    
</body>
</html>