<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Beginning</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<style>
*{
    font-family: 'Special Elite', cursive;
}

body{
    background-color: whitesmoke;
}

#topSpacer{
    height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    text-align: center;
}

.left{
    text-align: left;
    color: maroon;
}

.right{
    text-align: right;
    color: grey;
}

a{
    text-decoration: underline;
    color: black;
}
</style>

<body>
    <div id="topSpacer">
        <a href="/logout">Log Out</a>
    </div>
    <main>
        <h3>You look down at your phone, thankful that your purchase was sufficient. You're even more thankful he resumed the conversation where you left it. The skulls look down on you with judgement.</h3>
        <h3 class="left">"Vermillion Road. No one seems to know it."</h3>
        <h3>The owner huffed, a confusing mix of laugh, exasperation, and something else.</h3>
        <h3 class="right">"Figures. It goes to a house. No one lives there."</h3>
        <h3 class="left">"My mom just moved in. I'm going to help her unpack."</h3>
        <h3 class="right">"Right, sure. Follow this road here out of town until you leave town. There's a stack of rocks on the right, maybe a couple miles out. Turn right behind the rocks and follow it 'til you see the house."</h3>
        <h3 class="left">"That's it?"</h3>
        <h3 class="right">"Yep. <a href="/intro6">Good luck</a>."</h3>
    </main>
    
</body>
</html>